body, html {
    margin: 0;
    padding: 0;
    background: url("/assets/images/fondo.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.color1{
    background-color: violet;
    height: 3em;
}

