* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}

body {
  background: url(../images/fondo.png);
  font-size: 20px;
}

body header {
  width: 100%;
  color: aliceblue;
  font-size: 20px;
}

body nav {
  font-size: 15px;
  color: #630763;
  padding: 10px;
  width: 100%;
}

body nav div ul {
  text-align: center;
}

body nav div ul li a {
  color: white;
  padding: 5px;
}

body nav ul {
  /* Haz click para conocerme*/
  width: 100%;
  /* menu contenedor*/
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body nav ul li {
  list-style: none;
  color: #fff;
  text-decoration: none;
}

body nav ul li a:hover {
  background: #c157ba;
}

body nav ul li a {
  width: 100%;
  margin: 0 auto;
  color: aliceblue;
  background-color: #d623cb;
  text-decoration: none;
  padding: 5px;
  border-radius: 20px 20px 20px 20px;
}

body nav ul li span {
  margin-right: 5px;
}

body .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 250%;
  width: 100%;
}

body .title__name {
  width: 95%;
}

body .title__logo {
  width: 5vw;
}

body .navegation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  width: 100%;
}

body main {
  width: 100%;
}

body main section {
  width: 100%;
  color: #292624;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
}

body main section div {
  text-align: center;
}

body main section div img {
  border-radius: 40px 40px 40px 40px;
}

body main section div form {
  text-align: center;
}

body footer {
  text-decoration: none;
  padding: 10px;
  text-align: center;
  width: 100%;
}

body footer div ul li a {
  text-decoration: none;
}

body footer div ul li a span {
  margin-right: 4px;
}

body input, body select, body textarea, body label {
  border-radius: 5px 5px 5px 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

body .title__welcome {
  font-size: 250%;
  width: 100%;
  text-align: center;
}

body .form-control {
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

body .image_size {
  border-radius: 20px 20px 20px 20px;
  width: 75%;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*@media(max-width: 320px) {
    body nav div ul li a{
        width: 115px;
    }
    .titulo{
        width: 88%;
        font-size: 120%;
    }
    .titulo__logoupel{
        width: 100%;
        justify-content: center;
    }
    .titulo__bienvenida{
        font-size: 250%;    
    }
    .navegacion__elemento--menu{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;   
    }
}
@media (min-width: 321px) and (max-width: 767px) {
    .titulo{
        width: 90%;
        font-size: 170%;
    }
    .titulo__logoupel{
        width: 60%;
    }
    .titulo__bienvenida{
    font-size: 175%;    
    }
    body nav div ul li a{
        width: 115px;
    }

    .navegacion__elemento--menu{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }
}*/
/*# sourceMappingURL=main.css.map */